ehang/QrtFactoryKit/.idea/
ehang/QrtFactoryKit/BatchScript/Input/OS_VERSION.dat
ehang/QrtFactoryKit/BatchScript/Results/
ehang/QrtFactoryKit/BatchScript/adb.exe
ehang/QrtFactoryKit/BatchScript/temp.csv
ehang/QrtFactoryKit/BatchScript/temp2.csv