<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yihang.gesture"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.GET_TASKS"/> 
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:persistent="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider  
            android:name="com.yihang.gesture.provider.gestureProvider"
            android:authorities="com.yihang.gesture.provider"
            android:exported="true">
        </provider>
        
        <activity
            android:excludeFromRecents="true"
            android:name="com.yihang.gesture.activity.MainActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity
            android:excludeFromRecents="true"
            android:name="com.yihang.gesture.activity.GloveActivity"
            android:label="@string/glove_mode" 
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
		
        <activity		
            android:excludeFromRecents="true"  
            android:name="com.yihang.gesture.activity.ShowGesture"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" 
            android:screenOrientation="portrait">
        </activity>
        
        <service android:name="com.yihang.gesture.service.GestureService" >
            <!--intent-filter>
                <action android:name="com.yihang.service.GestureService" />
            </intent-filter -->
        </service>
        <receiver android:name="com.yihang.gesture.receiver.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="com.securespaces.android.intent.ACTION_SPACE_SWITCHED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
